{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">


</head>

<body class="b1">

    <div style="background-color:rgb(106, 106, 216); height: 80px; width: 100%;">
        <ul class="ul1">
            <div>
                <li class="l1">ABCD Software</li>
            </div>
            <div>
                <li class="l2">login</li>
                <li class="l2">Contact us</li>
                <li class="l2"><a href="aboutus.html">About us</a></li>
            </div>

        </ul>
    </div>
    <div class="div1">
        <img src="{% static 'images/laptop.jpeg' %}" alt="" class="img1">
    </div>
    <div>

        <h1 class="h1">ABCD Software</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus vel deserunt nobis cupiditate ratione, maxime,
            natus sed iusto dicta nisi consequuntur, itaque necessitatibus? Voluptatum quo fugiat qui error, corporis
            architecto.</p>
    </div>
</body>

</html>